<div class="container" data-controller="validation">
  <div class="row justify-content-center align-items-center mt-5">
    <div class="col-md-8 cardDash p-4 pt-0">

      <h1 class="text-center">Add you personal message to the song</h1>
      <hr class="header-divider">
      <div class="song-details">
        <p><strong>Song:</strong> <%= @playlist_song.song.title %></p>
        <p><strong>Artist:</strong> <%= @playlist_song.song.artist %></p>
      </div>
        <%= simple_form_for [@playlist, @playlist_song] do |f| %>
          <div class="form-group">
            <p><strong>Message:</strong>
            <%= f.text_area :message, placeholder: 'Add your personal message...', class: 'form-control', data: { validation_target: "input_message", action: "keyup->validation#message" } %>
            <p><span data-validation-target="note_message" style=" color: red "></span></p>
          </div>
        <%# <div class="form-group my-3 d-flex justify-content-center"> %>
          <div class="home-start-button">
            <div class="d-flex justify-content-between mb-5">
              <%= link_to ('<i class="fa-solid fa-backward-step"></i>  back ').html_safe, new_playlist_playlist_song_path(@playlist), class: 'tn btn-modern' %>
              <%= f.submit "Update", class: 'start-button' %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="home-start-button">

      </div>
  </div>
</div>
