<div class="container">
  <%= link_to 'Back', root_path, class: 'btn btn-primary' %>
  <h1 class="text-center mt-5">Add your message</h1>

  <div class="card">
    <%= simple_form_for [@playlist, @playlist_song] do |f| %>
      <%# render spotify song card %>
      <%= f.input :message, placeholder: 'Type your personal message here' %>
      </div>
      <% f.button :submit, class: 'btn-primary' do %>
      <%= content_tag(:i, nil, class: 'fas fa-regular fa-circle-check') %>
      Update!
      <% end %>
    <% end %>

    <%# <button class="button-75" role="button"><%= link_to ('<i class="fa-solid fa-arrow-left"></i> Back').html_safe, queens_path, class: "button_link" %>

</div>

<%# <button class="button-75" role="button"><%= link_to ('<i class="fa-solid fa-arrow-left"></i> Back').html_safe, queens_path, class: "button_link" %>
