<div class="container">
  <div>
    <%= link_to 'go back', new_playlist_playlist_song_path(@playlist), class: 'btn btn-secondary' %>
  </div>

<h1>Add you personal message to the song</h1>
  <div class="card">


    <p><strong>Song:</strong> <%= @playlist_song.song.title %></p>
    <p><strong>Artist:</strong> <%= @playlist_song.song.artist %></p>

      <%= simple_form_for [@playlist, @playlist_song] do |f| %>
        <div class="">
          <%= f.label :message%>
          <%= f.input :message %>
          <%= f.submit "UPDATE" %>
        </div>
      </div>

      <% end %>




<div>
  <%= link_to 'go directly to step 3', manage_playlist_playlist_songs_path(@playlist), class: 'btn btn-primary' %>
</div>
</div>
