<div class="container">
  <div class="addSong mt-5">
    <div class="mb-4">
      <h1>Add it to your playlist</h1>
    </div>

    <%
=begin%>
 <div class="d-flex justify-content-center mb-4">
      <%= link_to '/auth/spotify', method: :post, class: "link" do%>
      <button class="button-64" role="button"><span class="text">Connect your Spotify account</span></button>
      <% end %>
    </div>
<%
=end%>

    <div data-controller="search">
      <%= form_with url: new_playlist_playlist_song_path, method: :get, class: "searchform",
          html: {data: {search_target: "form"}} do |f| %>
        <%= f.text_field :search, placeholder: "Search for a song", value: params[:query], data: {search_target: "input", action: "keyup->search#update"} %>
      <% end %>

      <div class="dropdown">
        <%= render "list", tracks: @tracks, playlist: @playlist %>
      </div>
    </div>
  </div>
  <%= link_to 'back', manage_playlist_playlist_songs_path(@playlist), class: 'btn btn-primary' %>
</div>
