<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 cardDash p-4 pt-0">
      <h2 class="text-center mt-5">Sign up</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :username,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "username" }%>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password", class: "password-input" } %>

                      <div class="input-group-append">
    <button class="btn btn-outline-success toggle-password mb-2" type="button">
      <i class="bi bi-eye">show/hide</i>
    </button>
  </div>

          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="form-actions my-3 btn btn-success rounded-3">
          <%= f.button :submit, "Sign up" %>
        </div>
        </div>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

</div>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    const togglePassword = document.querySelector(".toggle-password");
    const passwordInput = document.querySelector(".password-input");

    togglePassword.addEventListener("click", function() {
      const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
      passwordInput.setAttribute("type", type);
      this.querySelector("i").classList.toggle("bi-eye");
      this.querySelector("i").classList.toggle("bi-eye-slash");
    });
  });
</script>
