<div class="container">
  <div class="row justify-content-center">
  <div class="col-md-8 cardDash p-4 pt-0">
<h2 class="text-center mt-5">Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" , class: "password-input" } %>
      <div class="input-group-append">
    <button class="btn btn-outline-success toggle-password mb-2" type="button">
      <i class="bi bi-eye">show/hide</i>
    </button>
  </div>
  
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions mt-3 btn btn-success rounded-3">
    <%= f.button :submit, "Log in"%>
  </div>

<% end %>
<%= render "devise/shared/links" %>
</div>
  </div>
    </div>
    </div>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    const togglePassword = document.querySelector(".toggle-password");
    const passwordInput = document.querySelector(".password-input");

    togglePassword.addEventListener("click", function() {
      const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
      passwordInput.setAttribute("type", type);
      this.querySelector("i").classList.toggle("bi-eye");
      this.querySelector("i").classList.toggle("bi-eye-slash");
    });
  });
</script>
