<%= simple_form_for playlist do |f| %>
  <%= f.input :from_name, placeholder: 'Let the reciever know, who send the playlist' %>
  <%= f.input :to_name, placeholder: 'Who would you like to send the playlist to' %>
  <%= f.input :title, placeholder: 'Give a name to your playlist' %>
  <%= f.input :general_message, placeholder: 'Send a general message' %>

  <div class="home-start-button">
    <div class="d-flex justify-content-between mb-5">
      <%= link_to ('<i class="fa-solid fa-backward-step"></i>  back ').html_safe, dashboard_path, class: ' btn btn-modern' %>
      <button type="submit" class="start-button" role="button"><span class="text">Save</span></button>
    </div>
  </div>
<% end %>
