<%= simple_form_for playlist do |f| %>
  <%= f.input :from_name, placeholder: 'Let the reciever know, who send the playlist' %>
  <%= f.input :to_name, placeholder: 'Who would you like to send the playlist to' %>
  <%= f.input :title, placeholder: 'Give a name to your playlist' %>
  <%= f.input :general_message, placeholder: 'Send a general message' %>
  <button type="submit" class="button-64" role="button"><span class="text">Lets get it started</span></button>
<% end %>
