<div class="container">
  <div data-controller="clipboard"  data-clipboard-feedback-text-value="Copied!">
    <%= link_to "(share)",   share_playlist_url(id: @playlist.id, uuid:  @playlist.uuid ), data: { clipboard_target: "link" , action: "click->clipboard#copy"}, class: 'btn btn-primary' %>
  </div>

  <%= link_to "View Playlist", receiver_view_playlist_path(@playlist), class: 'btn btn-primary' %>

  <h1>Preview</h1>
  <h2>Dear ...</h2>

    <% @playlist.playlist_songs.each do |playlist_song| %>
<% end %>

  <%= render "slider" %>



  <div class="d-flex justify-content-between">
    <%= link_to "Back to rearrange", manage_playlist_playlist_songs_path(@playlist), class: 'btn btn-secondary' %>
    <%= link_to "Confirmation", confirmation_playlist_path(@playlist), class: 'btn btn-primary' %>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    new bootstrap.Carousel(document.getElementById('songCarousel'));
  });
</script>
