<div class="preview">
  <div class="d-flex justify-content-between" style="margin-top: 20px; margin-right: 20px; margin-left: 20px;">
    <%= link_to "(View Reveivers view)", receiver_view_playlist_path(@playlist), class: 'btn button-64' %>
    <%= link_to "(share)", share_playlist_url(id: @playlist.id, uuid: @playlist.uuid), data: { clipboard_target: "link", action: "click->clipboard#copy" }, class: 'btn fa-solid fa-share-nodes' %>
  </div>

  <div class="container">
    <!-- Move the h1 "Preview" to the top right -->
    <div class="text-end">
      <h1>Preview</h1>
    </div>

    <% @playlist.playlist_songs.each do |playlist_song| %>
      <!-- Your song content here -->
    <% end %>

    <%= render "slider" %>

    <div class="fixed-bottom d-flex justify-content-between mt-3" style="margin-bottom: 20px; margin-right: 20px; margin-left: 20px;">
      <%= link_to "Back to rearrange", manage_playlist_playlist_songs_path(@playlist), class: 'btn button-64' %>
      <%= link_to "Confirmation", confirmation_playlist_path(@playlist), class: 'btn button-64' %>
    </div>
  </div>
</div>

