<div class="container">
  <div class="preview">
    <!-- Move the h1 "Preview" to the top right -->
  <div class="d-flex justify-content-between">
    <%= link_to receiver_view_playlist_path(@playlist) do %>
      <button class="button-64" role="button"><span class="text">View Reveivers view</span></button>
    <% end %>
    <h3>Preview</h3>
  </div>

  <div class="text-center mt-3">
    <h1> <%= @playlist.title %></h1>
    <h3>Dear <%= @playlist.to_name %>,</h3>
    <h5><%= @playlist.general_message %></h5>
    <p><strong>From: </strong><%= @playlist.from_name %></p>
  </div>
  <hr class="header-divider">

    <% @playlist.playlist_songs.each do |playlist_song| %>
      <!-- Your song content here -->
    <% end %>

    <%= render "slider" %>

    <div class="d-flex justify-content-between mb-5">
      <h5><%= link_to ('<i class="fa-solid fa-backward-step"></i>  Back ').html_safe, manage_playlist_playlist_songs_path(@playlist), class:"link" %></h5>
      <h5><%= link_to ('Done <i class="fa-solid fa-forward-step"></i>').html_safe, confirmation_playlist_path(@playlist), class:"link" %></h5>
    </div>
  </div>
</div>
