<div class="container">
  <div class="preview" data-controller="preview">
    <!-- Move the h1 "Preview" to the top right -->
  <div class="d-flex justify-content-end">
    <h3>Preview</h3>
  </div>


<!-- Wrap up Card-->

  <div class="d-flex justify-content-center">
    <div class="card" data-preview-target="card">
      <div class="card-wrap">
        <h1 class="underline">A MIX/MATE from <%= @playlist.from_name %>:</h1>
        <h2 class="underline"> Title:  <%= @playlist.title %></h2>
        <h3 class="underline">Dear <%= @playlist.to_name %>,</h3>
        <h5 class="underline pt-3"><%= @playlist.general_message %></h5>
        <div class="d-flex justify-content-center">
          <button data-action="click->preview#start" class="btn btn-play"><i class="fa-solid fa-circle-play"></i></button>
        </div>
      </div>
    </div>
  </div>


<!-- Cassette Card -->

  <div class="d-none" data-preview-target="player">
      <%= render "slider" %>
    </div>


<!-- Back- and Done- Button -->


    <div class="home-start-button">
      <div class="d-flex justify-content-between mb-5">
        <h5><%= link_to ('<i class="fa-solid fa-backward-step"></i>  Back ').html_safe, manage_playlist_playlist_songs_path(@playlist), class:' btn btn-modern' %></h5>
        <h5><%= link_to ('Done    <i class="fa-solid fa-forward-step"></i>').html_safe, confirmation_playlist_path(@playlist), class:' btn btn-modern' %></h5>
      </div>
    </div>
  </div>
</div>
