<div class="container">
  <div class="preview" data-controller="preview">
    <!-- Move the h1 "Preview" to the top right -->
  <div class="d-flex justify-content-end">
    <h3>Preview</h3>
  </div>

  <div class="d-flex justify-content-center">
    <div class="card" data-preview-target="card">
      <div class="text-center mt-3">
        <h1> <%= @playlist.title %></h1>
        <h3>Dear <%= @playlist.to_name %>,</h3>
        <h5><%= @playlist.general_message %></h5>
        <p><strong>From: </strong><%= @playlist.from_name %></p>
      </div>
      <button data-action="click->preview#start" class="btn btn-outline-primary">Start</button>
      <!-- <hr class="header-divider"> -->
    </div>
  </div>
  
  <div class="d-none" data-preview-target="player">
      <%= render "slider" %>
    </div>

    <div class="d-flex justify-content-between mb-5">
      <h5><%= link_to ('<i class="fa-solid fa-backward-step"></i>  Back ').html_safe, manage_playlist_playlist_songs_path(@playlist), class:"link" %></h5>
      <h5><%= link_to ('Done <i class="fa-solid fa-forward-step"></i>').html_safe, confirmation_playlist_path(@playlist), class:"link" %></h5>
    </div>
  </div>
</div>
