<div class="container">
  <div class="preview" data-controller="preview">

  <!-- Wrap up Card-->

  <div class="d-flex justify-content-center">
    <div class="card" data-preview-target="card">
      <div class="card-wrap">
        <h1 class="underline">A MIX/MATE from <%= @playlist.from_name %>:</h1>
        <h2 class="underline"> Title:  <%= @playlist.title %></h2>
        <h3 class="underline">Dear <%= @playlist.to_name %>,</h3>
        <h5 class="underline pt-3"><%= @playlist.general_message %></h5>
        <div class="d-flex justify-content-center">
          <button data-action="click->preview#start" class="btn btn-play"><i class="fa-solid fa-circle-play"></i></button>
        </div>
      </div>
    </div>
  </div>

<!-- Cassette Card -->

  <div class="d-none" data-preview-target="player">
      <%= render "slider" %>

          <div class="home-start-button mt-2 mb-8">
            <div class="d-flex justify-content-center">
              <%= link_to "Create your own MIX/MATE", root_path, class: "btn btn-modern" %>
            </div>
          </div>
  </div>
  </div>
</div>
